


<div class="houseKeeper-container" >
    <div class="title">
        <h1 class="main1">Housekeeper Scheduling System</h1>
    </div>
    
    <div class="title2">
        <h1 class="main2">Get Your Rooms Cleaned at your time with just a Click! </h1>
    </div>
    <div class="title3">
        <h1 class="main3">Your Home, Our Pride – Cleaning Services.</h1>
    </div>
    <div class="button-container">
        <button class="adminlogin" (click)="goToStudentLogin()">Student Login</button>
        <button class="adminlogin" (click)="goToAdminLogin()">Admin Login</button>
    </div>
</div>





