<div class="imageDiv">
  <img class="img-fluid" src="../../assets/images/signupbg.jpg">

  <div class="registrationDiv">
    
    <br>
  
    <div class="formDiv">
      <div class="text-center text-white">Admin Registration</div> <br><br>
      <form (ngSubmit)="registerAdmin()" #registrationForm="ngForm" >
        <label for="username" class="formtext" style="text-align: center;">Email</label>
        <div class="form-group">
          <br>
          <input  type="text" id="username" [(ngModel)]="admin.username" name="username" required #usernameInput="ngModel" >
          <div *ngIf="usernameInput.invalid && (usernameInput.dirty || usernameInput.touched)" class="error-message text-danger mt-2">
            Email is required
          </div>
          
        </div>
        <br>
        <br>
        <label for="password" class="formtext">Password</label>
        <div class="form-group">
          <br>
          <input type="password" id="password" minlength="6" [(ngModel)]="admin.password" name="password" required #passwordInput="ngModel" >
          <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)" class="error-message  text-danger mt-2 mb-0">
           Password should be min 6 characters
          </div>
        </div>
        <br>
        <br>
        <label for="hostel" class="formtext">Hostel</label>
        <div class="form-group">
          <br>
          <input type="text" id="hostel" [(ngModel)]="admin.hostel" name="hostel" required #hostelInput="ngModel" >
          <div *ngIf="hostelInput.invalid && (hostelInput.dirty || hostelInput.touched)" class="error-message text-danger mt-2">
            Hostel name is required
          </div>
        </div>
        <br>
        <br>
        <div class="">
          <button type="submit" class="btn btn-primary loginButton" [disabled]="registrationForm.invalid">Register</button>
        </div>
        <br>
        <div>
          <button class="adminbutton" (click)="goTologinPage()">Already having an Account! Login</button></div> 
      </form>
    </div>
  </div>
</div>

