<div class="sidenav" style="width: 18%;">
  <br>
  <div class="rollno" style="color: #000000;" > STUDENT REGISTER <br> NUMBER </div>
  <br>
  <div class="rollno2" style="color: #000000;"> {{rollnumber}} </div>
  <br><br>
  <button class="ms-3 text-start" routerLinkActive="active" routerLink="/user/home">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-display icon-margin"
      viewBox="0 0 16 16">  
      <path
        d="M0 4s0-2 2-2h12s2 0 2 2v6s0 2-2 2h-4c0 .667.083 1.167.25 1.5H11a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1h.75c.167-.333.25-.833.25-1.5H2s-2 0-2-2V4zm1.398-.855a.758.758 0 0 0-.254.302A1.46 1.46 0 0 0 1 4.01V10c0 .325.078.502.145.602.07.105.17.188.302.254a1.464 1.464 0 0 0 .538.143L2.01 11H14c.325 0 .502-.078.602-.145a.758.758 0 0 0 .254-.302 1.464 1.464 0 0 0 .143-.538L15 9.99V4c0-.325-.078-.502-.145-.602a.757.757 0 0 0-.302-.254A1.46 1.46 0 0 0 13.99 3H2c-.325 0-.502.078-.602.145z" />
    </svg>

    <span class="nav-text-margin"> Dashboard</span>
  </button>
  <button class="ms-3 text-start" routerLinkActive="active" routerLink="/user/request">
    
    <!-- <fa-icon [icon]="ComplaintsIcon" class="icon-margin"></fa-icon> -->
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="16" fill="currentColor" class="bi bi-calendar-date" viewBox="0 0 16 16" style="padding-left: 5%;">
      <path d="M6.445 11.688V6.354h-.633A13 13 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23"/>
      <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
    </svg>
    <span class="nav-text-margin rtc">Request To Clean</span>
  </button>
  <button class="ms-3 text-start" routerLinkActive="active" routerLink="/user/complaints">
    <fa-icon [icon]="AllotIcon" class="icon-margin"></fa-icon>

    <span class="nav-text-margin">Share Feedback</span> 
  </button>
  <button class="ms-3 text-start" routerLinkActive="active" routerLink="/user/profile">
    <!-- <fa-icon [icon]="StudentIcon" class="icon-margin"></fa-icon> -->
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="16" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
      <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1zm-7.978-1L7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002-.014.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0M6.936 9.28a6 6 0 0 0-1.23-.247A7 7 0 0 0 5 9c-4 0-5 3-5 4q0 1 1 1h4.216A2.24 2.24 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816M4.92 10A5.5 5.5 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0m3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4"/>
    </svg>
    <span class="nav-text-margin">Profile</span> 
  </button>
  <button class="ms-3 text-start logout"  data-bs-toggle="modal" data-bs-target="#userLogoutModal">
     <!-- <fa-icon [icon]="LogoutIcon" class="icon-margin"></fa-icon> -->
     <svg xmlns="http://www.w3.org/2000/svg" width="25" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
      <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
    </svg>
    <span class="nav-text-margin"> Logout</span>
  </button>
</div>


<div class="container">
  <div style="margin-left:157px">
    <img class="dashboardImage" [src]="'assets/images/userbgclean.jpg'">

    <div class="cleanRequestDiv">
      <button style="background: none; border: none;" routerLinkActive="active" routerLink="/user/request">
        <strong style="font-size: 15px;color: #FBEAEB;" class="text-muted ms-3 mt-1">REQUEST CLEAN</strong> &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <fa-icon style="font-size: 16px; border-radius: 19px; color: #FBEAEB;"
          [icon]="CleanRequestIcon"></fa-icon>
        <br>
        <strong style="color: #FBEAEB;" class=""> {{complaintCount}} </strong>
      </button>
    </div>

    <div class="complaintsDiv">
      <button  class="feedback-count-user" routerLinkActive="active" routerLink="/user/complaints">
        <strong style="font-size: 15px;" class="text-muted ms-3 mt-2">FEEDBACK</strong> &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <fa-icon
          style="font-size: 16px; border-radius: 19px;  color: #FBEAEB;;" [icon]="ComplaintsDivIcon"></fa-icon>
        <br>
        <strong style="color: #FBEAEB;" class=""> {{feedbackCount}} </strong>
      </button>
    </div>
  </div>
</div>


<!-- //LOGOUT  -->

<!-- Modal -->
<div class="modal fade" id="userLogoutModal" tabindex="-1" aria-labelledby="userLogoutModalLabel" aria-hidden="true"
data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
         Are you sure you want to Log Out ?
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-danger" (click)="logout()" data-bs-dismiss="modal">Log Out</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        
      </div>
    </div>
  </div>
</div>